@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model == null)
    {
        <form method="post" action="Home/GetName">
           <label>Name:</label> <br />
           <input type="text" name="name"/><br /><br />
           <input type="submit" />
       </form>
    }else
    {
        <h1>Hello @Model</h1>
        <h2>Visitors: @ViewBag.Count</h2>
    }
    
</div>
